/* =divs
----------------------------------------------- */

#menu
{
    float: left;
    width: 100%;
    /*border: 1px solid black;*/
    padding-right: 25px;
    padding-bottom: 25px;
}

#content
{
    float: none;
    /*width: 400px;*/
    /*border: 1px solid black;*/
}

#compForm
{
    float: left;
    /*width: 100%;*/
    /*border: 1px solid black;*/
    padding-right: 25px;
    padding-bottom: 25px;
}

#compResult
{
    float: left;
    /*width: 400px;*/
    border: 1px solid black;
    padding: 15px;
}